<section>
      <div class="home--view">
        <div class="intro--part">
          <div class="intro--part2">
            <div class="intro--part3">
              <h6>Hi all. I am</h6>
              <br />
              <h1>Monu kumar</h1>
              <br />
              <h3>> Front-end developer</h3>
            </div>
            <div class="info--section">
              <span>
                // complete the game to continue <br />
                // you can also see it on my Github page<br />
              </span>
              <span class="const">const </span>
              <span class="link--url">githubLink </span>=
              <a [href]="githubLink">https://github.com/Monuk0</a>
            </div>
          </div>
        </div>
        <div class="game--play">
            <app-game-zone></app-game-zone>
        </div>
      </div>
  </section>

